---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogCard from "@/components/BlogCard.astro";

const allBlogs = await getCollection("blog");

const title = 'Wanderings';
---

<BaseLayout title={title}>
  <h1 class="mb-6 text-3xl font-medium md:text-4xl text-balance">
    This is my blog, where stories unfold
  </h1>
  <ol>
    {
      allBlogs.map((blog) => (
        <BlogCard url={`/blog/${blog.slug}/`} title={blog.data.title} />
      ))
    }
  </ol>
</BaseLayout>
