---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import { Button } from '@/components/ui/button';
import { EnvelopeOpenIcon } from '@radix-ui/react-icons';
import { Separator } from '@/components/ui/separator';

const allProjects = await getCollection('projects');

const title = 'Vincent Obbeng | Web Developer & Designer';
---

<BaseLayout title={title}>
  <main>
    <section class="pb-20">
      <div class="md:w-1/2">
        <h1 class="mb-6 text-3xl font-medium md:text-4xl text-balance">
          Step Into My Digital Playground
        </h1>
        <p class="text-balance mb-6 leading-relaxed">
          <span class="font-semibold text-dark-green"
            >I'm Vincent, a web developer and designer based in Accra, Ghana. I
            love to make landing pages, marketing sites and application
            interfaces.</span
          > Still finding more stuff to be good at but if you need help with any
          of the above, I'm your guy.
        </p>
        <a href="mailto:obbengvincent@gmail.com"
          ><Button size="lg">
            Available for new projects <EnvelopeOpenIcon className="ml-2" />
          </Button></a
        >
      </div>
      <div class="hidden md:w-1/2"></div>
    </section>
    <Separator />
    <section class="py-20">
      <h2 class="mb-10">Recent projects</h2>
      <!-- <ProjectCard /> -->
        {
          allProjects.map((work) => (
            <ProjectCard
              url={`/projects/${work.slug}/`}
              title={work.data.title}
              description={work.data.description}
            />
          ))
        }
    </section>
  </main>
</BaseLayout>
