---
import BaseLayout from '@/Layouts/BaseLayout.astro';

const title = 'Vincent Obbeng | Software Engineer';
---

<BaseLayout title={title}>
  <main>
    <section>
      <div class="w-3/5">
        <h1 class="text-dark-green text-2xl font-bold">
          <em>Akwaaba!</em>to my home on the internet
        </h1>
        <p>
          I'm Vincent Obbeng, a software engineer based in Accra, Ghana. I'm
          passionate about building software that solves real-world problems and
          helps people. I'm currently working at <a
            href="https://www.azentio.com"
            class="text-dark-green font-bold">Azentio Software</a
          > as a Software Engineer.
        </p>
      </div>
      <div class="w-2/5"></div>
    </section>
  </main>
</BaseLayout>
