---
import BaseLayout from "@/Layouts/BaseLayout.astro"


const title = "Vincent Obbeng | Software Engineer"
---

<BaseLayout title={title}>
	<h1>Welcome to my home on the internet</h1>
</BaseLayout>
