---
import BaseLayout from '@/Layouts/BaseLayout.astro';
import { Button } from '@/components/ui/button';
import { EnvelopeOpenIcon } from '@radix-ui/react-icons';
import { Separator } from '@/components/ui/separator';

const title = 'Vincent Obbeng | Web Developer & Designer';
---

<BaseLayout title={title}>
  <main>
    <section class="pb-20">
      <div class="md:w-1/2">
        <h1 class="mb-2">Welcome to my digital kitchen.</h1>
        <p class="text-balance md:text-pretty mb-5 leading-relaxed">
          <span class="font-semibold"
            >I'm Vincent, a web developer and designer based in Accra, Ghana. I
            love to make landing pages, marketing sites and application
            interfaces.</span
          > Still finding more stuff to be good at but if you need help with any
          of the above, I'm your guy.
        </p>
        <a href="mailto:obbengvincent@gmail.com"
          ><Button>
            Available for new projects <EnvelopeOpenIcon className="ml-2" />
          </Button></a
        >
      </div>
      <div class="hidden md:w-1/2"></div>
    </section>
    <Separator />
    <section class="py-20">
      <h2 class="mb-2">Recent projects</h2>
      <div>

      </div>
    </section>
  </main>
</BaseLayout>
