---
import { Separator } from '@/components/ui/separator';
import {
  GitHubLogoIcon,
  DiscordLogoIcon,
  TwitterLogoIcon,
} from '@radix-ui/react-icons';
---

<header class="py-20">
  <nav class="flex flex-row items-center gap-3 relative">
    <div class="flex flex-col md:flex-row gap-3 md:items-center w-full md:w-1/2">
      <ul class="flex flex-row gap-3 px-3 md:px-0">
        <li>
          <a href="/"
            ><GitHubLogoIcon className="text-dark-green hover:text-green" /></a
          >
        </li>
        <li>
          <a href="/"
            ><DiscordLogoIcon className="text-dark-green hover:text-green" /></a
          >
        </li>
        <li>
          <a href="/"
            ><TwitterLogoIcon className="text-dark-green hover:text-green" /></a
          >
        </li>
      </ul>
      <div class="hidden md:block">
        <Separator orientation="vertical" />
      </div>

      <ul class="flex flex-col md:flex-row gap-3 items-start">
        <li
          class="py-1 px-3 rounded inline-flex text-sm text-dark-green hover:bg-tan hover:text-dark-green"
        >
          <a href="/">Home</a>
        </li>
        <li
          class="py-1 px-3 rounded inline-flex text-sm text-dark-green hover:bg-tan hover:text-dark-green"
        >
          <a href="/about">About</a>
        </li>
        <li
          class="py-1 px-3 rounded inline-flex text-sm text-dark-green hover:bg-tan hover:text-dark-green"
        >
          <a href="/blog">Blog</a>
        </li>
        <li
          class="py-1 px-3 rounded inline-flex text-sm text-dark-green hover:bg-tan hover:text-dark-green"
        >
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </div>

    <div
      class="w-full absolute right-0 top-0 md:w-1/2 flex justify-end items-start md:items-center"
    >
      <a href="/">
        <h2 class="text-dark-green align-self-start">Vincent Obbeng</h2>
      </a>
    </div>
  </nav>
</header>
