---
import '@/styles/global.css';
import '@fontsource/geist-sans/100.css';
import '@fontsource/geist-sans/200.css';
import '@fontsource/geist-sans/300.css';
import '@fontsource/geist-sans/400.css';
import '@fontsource/geist-sans/500.css';
import '@fontsource/geist-sans/600.css';
import '@fontsource/geist-sans/700.css';
import '@fontsource/geist-sans/800.css';
import '@fontsource/geist-sans/900.css';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const { title } = Astro.props;
---

<html lang="en" class="scrollbar-thin scrollbar-thumb-dark-green scrollbar-track-green">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="container bg-black text-white px-6 md:px-24 lg:px-44">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
